/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Recomended google fonts: Zeyada, Julee, Nanum Gothic, Josefin Sans, Dosis, Dancing Spirit, Pacifico, Shadows into lights, Caveat, Satisfy, Fira Sans Condensed, Indie Flower, Permanent Marker, Gloria Hallelujah, Handlee */
@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Patrick+Hand&display=swap");

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
}