---
import HeaderLink from "./HeaderLink.astro";
import { HOMEPAGE_URL } from "../consts";
import { IoLogoGithub } from "react-icons/io5/index.js";
import FootprintIcon from "./icons/Footprint";
import ThemeToggle from "./ThemeToggleButton";
import DropdownMenu from "./DropdownMenu";
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-patrickHand text-lg">
          <FootprintIcon />
          Equn Jerks
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href={HOMEPAGE_URL}>About</HeaderLink>
        <HeaderLink href="https://github.com/camieuxgoofy" target="_blank">
          <IoLogoGithub /> GitHub
        </HeaderLink>
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
      <DropdownMenu client:visible />
    </nav>
  </div>
</header>
